@use '../util/breakpoints'as *;
h1, h2, h3{
  margin-top:0;
  line-height: 1.1;
}
a, a:active, a:visited{
  text-decoration: none;
}
h1{

  font-size: 64px;
  margin-bottom: 3rem;
  color:var(--off-black);
  font-weight: 800;
  font-style: italic;
  @include breakpoint-down(large){
    font-size: 48px;

  }
}
p{
  font-size:25px;
  color:var(--input-color);

}
label{
  color:var(--input-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.7px;
  font-style: normal !important;
}
